@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımda</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Acıklama</th>
                            <th>Yaş</th>
                            <th>Mail</th>
                            <th>Telefon</th>
                            <th>Adres</th>
                            <th>Resim Linki</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>

                            <tr>
                                <td>@item.AboutID</td>
                                <td>@item.Title</td>
                                <td width="250">@item.Description</td>
                                <td>@item.Age</td>
                                <td>@item.Mail</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/About/EditAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>

                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
