@model EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Mesaj Detay</h3>
            <form class="form-group" method="post">

                <div class="form-group">
                    <label for="exampleInputName1">Deneyim Id</label>
                    @Html.HiddenFor(x=> x.MessageID,new{@class="form-control" })
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">İş Yeri Ünvanı</label>
                    @Html.TextBoxFor(x => x.Name,new{@class="form-control"})

                </div>

                <div class="form-group">
                    <label for="exampleInputName1">Deneyim Tarihi</label>
                    @Html.TextBoxFor(x => x.Mail,new{@class="form-control"})
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail3">Resim Yükle</label>
                    @Html.TextBoxFor(x => x.Date,new{@class="form-control"})
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">Acıklama</label>
                    @Html.TextAreaFor(x => x.Content,4,5, new{@class="form-control"})
                </div>

                <a asp-action="Index" class="btn btn-dark mr-2">Cancel</a>

            </form>
        </div>
    </div>
</div>

